@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We're a group of Information Technology students studying at North-West University, Potchefstroom Campus. </p>
