@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Potchefstroom Campus<br/>
    Hoffman Street<br/>
    Potchefstroom<br/>
    2520<br/>
    South Africa<br />
    <!--<abbr title="Phone">P:</abbr>
    425.555.0100-->
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:projectmanagementmadeeasy.supp@gmail.com">projectmanagementmadeeasy.supp@gmail.com</a><br />
</address>